# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Payment Requests DB
PAYMENT_REQUESTS_DB_HOST=postgres-payment-requests
PAYMENT_REQUESTS_DB_PORT=5432
PAYMENT_REQUESTS_DB_NAME=payment_requests_db
PAYMENT_REQUESTS_DB_USER=postgres
PAYMENT_REQUESTS_DB_PASSWORD=postgres

# Transactions DB
TRANSACTIONS_DB_HOST=postgres-transactions
TRANSACTIONS_DB_PORT=5432
TRANSACTIONS_DB_NAME=transactions_db
TRANSACTIONS_DB_USER=postgres
TRANSACTIONS_DB_PASSWORD=postgres

# Webhook DB
WEBHOOK_DB_HOST=postgres-webhooks
WEBHOOK_DB_PORT=5432
WEBHOOK_DB_NAME=webhook_db
WEBHOOK_DB_USER=postgres
WEBHOOK_DB_PASSWORD=postgres

# Mock Bank
MOCK_BANK_URL=http://mock-bank-service:8000