# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=onyxpay
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=payment.events
RABBITMQ_PAYMENT_REQUESTED_QUEUE=orchestrator.payment-requested.q
RABBITMQ_PAYMENT_REQUESTED_ROUTING_KEY=payment.requested.v1

# Payment Request Service
PAYMENT_REQUEST_SERVICE_URL=http://payment-request-service:8003

# Payment Requests DB
PAYMENT_REQUESTS_DB_HOST=postgres-payment-requests
PAYMENT_REQUESTS_DB_PORT=5432
PAYMENT_REQUESTS_DB_NAME=payment_requests_db
PAYMENT_REQUESTS_DB_USER=postgres
PAYMENT_REQUESTS_DB_PASSWORD=postgres

# Transactions DB
TRANSACTIONS_DB_HOST=postgres-transactions
TRANSACTIONS_DB_PORT=5432
TRANSACTIONS_DB_NAME=transactions_db
TRANSACTIONS_DB_USER=postgres
TRANSACTIONS_DB_PASSWORD=postgres

# Webhook DB
WEBHOOK_DB_HOST=postgres-webhooks
WEBHOOK_DB_PORT=5432
WEBHOOK_DB_NAME=webhook_db
WEBHOOK_DB_USER=postgres
WEBHOOK_DB_PASSWORD=postgres

# Mock Bank
MOCK_BANK_URL=http://mock-bank-service:8000
ORCHESTRATOR_CALLBACK_URL=http://payment-orchestrator-service:8001/provider-callbacks/mock-bank
APPROVED_AFTER_5_PROBABILITY=0.50
DECLINED_AFTER_20_PROBABILITY=0.20
DUPLICATE_CALLBACK_PROBABILITY=0.10
CALLBACK_BEFORE_RESPONSE_PROBABILITY=0.10
NO_CALLBACK_PROBABILITY=0.10
APPROVED_DELAY_SECONDS=5
DECLINED_DELAY_SECONDS=20
DUPLICATE_DELAY_SECONDS=1
