# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=onyxpay
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=payment.events
RABBITMQ_PAYMENT_REQUESTED_QUEUE=orchestrator.payment-requested.q
RABBITMQ_PAYMENT_REQUESTED_ROUTING_KEY=payment.requested.v1

# Payment Request Service
PAYMENT_REQUEST_SERVICE_URL=http://payment-request-service:8003

# API Gateway access policy
API_BASIC_AUTH_ENABLED=true
API_BASIC_AUTH_USERNAME=merchant
API_BASIC_AUTH_SECRET=change-me
RATE_LIMIT_ENABLED=true
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW_SECONDS=60

# Payment Requests DB
PAYMENT_REQUESTS_DB_HOST=postgres-payment-requests
PAYMENT_REQUESTS_DB_PORT=5432
PAYMENT_REQUESTS_DB_NAME=payment_requests_db
PAYMENT_REQUESTS_DB_USER=postgres
PAYMENT_REQUESTS_DB_PASSWORD=postgres

# Transactions DB
TRANSACTIONS_DB_HOST=postgres-transactions
TRANSACTIONS_DB_PORT=5432
TRANSACTIONS_DB_NAME=transactions_db
TRANSACTIONS_DB_USER=postgres
TRANSACTIONS_DB_PASSWORD=postgres

# Webhook Service
RABBITMQ_NOTIFICATION_QUEUE=webhook.payment-notifications.q
RABBITMQ_NOTIFICATION_ROUTING_KEY=payment.notification.requested.v1
WEBHOOK_RETRY_EXCHANGE=webhook.retry
WEBHOOK_RETRY_QUEUE=webhook.payment-notifications.retry.q
WEBHOOK_RETRY_ROUTING_KEY=webhook.notification.retry
WEBHOOK_DEAD_LETTER_EXCHANGE=webhook.dead-letter
WEBHOOK_DEAD_LETTER_QUEUE=webhook.payment-notifications.dlq
WEBHOOK_DEAD_LETTER_ROUTING_KEY=webhook.notification.failed
WEBHOOK_RETRY_DELAY_MS=5000
WEBHOOK_MAX_RETRIES=3
WEBHOOK_RECONNECT_DELAY_SECONDS=2
WEBHOOK_TIMEOUT_SECONDS=5

# Mock Bank
MOCK_BANK_URL=http://mock-bank-service:8000
ORCHESTRATOR_CALLBACK_URL=http://payment-orchestrator-service:8001/provider-callbacks/mock-bank
APPROVED_AFTER_5_PROBABILITY=0.20
DECLINED_AFTER_20_PROBABILITY=0.15
ERROR_AFTER_5_PROBABILITY=0.25
DUPLICATE_CALLBACK_PROBABILITY=0.05
CALLBACK_BEFORE_RESPONSE_PROBABILITY=0.05
NO_CALLBACK_PROBABILITY=0.30
APPROVED_DELAY_SECONDS=5
DECLINED_DELAY_SECONDS=20
ERROR_DELAY_SECONDS=5
DUPLICATE_DELAY_SECONDS=1
